@use "../../../styles/variables" as *;

.o-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
  padding: 0.8rem 0rem;
  background-color: $dark-purple;
  box-shadow: 0 0 24px 1px $dark-purple;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;

  &__left,
  &__right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    flex-grow: 1;
  }

  svg {
    cursor: pointer;

    &:hover {
      stroke: $purple;
    }

    &:focus {
      outline: 2px solid $yellow;
      outline-offset: 2px;
    }
  }
  .profile__redirection {
    margin-right: 0.6rem;
  }
}
