@use "../../../styles/variables.scss" as *;

@mixin heading-style($font-size, $line-height: 150%) {
  font-family: $font-family;
  color: $black;
  line-height: $line-height;
  font-size: $font-size;
  margin: 0rem;
}

h1 {
  @include heading-style(var(--font-size-title), 120%);
}

h2 {
  @include heading-style(var(--font-size-xl));
}

h3 {
  @include heading-style(var(--font-size-xl));
}

h4 {
  @include heading-style(var(--font-size-lg));
}

.white {
  color: $white;
}
