@use "../../../styles/variables" as *;

.m-tooltip-info {
  position: relative;
  display: inline-block;

  .tooltip-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .tooltip-text {
    position: absolute;
    bottom: 100%;
    left: max;
    transform: translateY(-0.5rem);
    background: $black;
    color: $white;
    font-size: var(--font-size-tiny);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    white-space: normal;
    z-index: 100;
    width: max-content;
    max-width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    &::after {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-width: 6px;
      border-style: solid;
      border-color: $black transparent transparent transparent;
    }
  }
}
