@use "../../../styles/variables.scss" as *;

.a-label {
  font-family: $font-family;
  font-size: var(--font-size-lg);
  color: $white;
  line-height: 150%;
  font-weight: 600;
  margin: 0;
}

.-white {
  color: $white;
}

.-black {
  color: $black;
}
