// 🎨 Couleurs
$purple: #bf00ff;
$dark-purple: #571879;
$white: #fcfcfc;
$light-grey: #d9d9d9;
$grey: #989898;
$black: #262626;
$yellow: #eaff00;
$dark-yellow: #c6c30b;

// 📐 Marges / espacements
// 📐 Marges / espacements (version responsive via :root)
:root {
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
}

@media (min-width: 660px) {
  :root {
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;
  }
}

// 📏 Tailles de police
:root {
  --font-size-tiny: 0.6rem;
  --font-size-base: 0.8rem;
  --font-size-lg: 0.8rem;
  --font-size-xl: 1rem;
  --font-size-title: 1.2rem;
}

@media (min-width: 660px) {
  :root {
    --font-size-tiny: 0.8rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.2rem;
    --font-size-xl: 1.5rem;
    --font-size-title: 1.2rem;
  }
}

$font-family: "Montserrat", sans-serif;
