@use "../../../styles/variables" as *;

.event-card {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  background-color: $black;
  box-shadow: $black 0px 10px 5px -10px;
  transition: box-shadow 0.2s;
}

.event-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.event-card__image {
  position: relative;
  width: 40%;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    );
    pointer-events: none; // l'icône reste cliquable
    z-index: 1;
  }

  .event-card__favorite {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 2; // au-dessus de l’overlay
    font-size: 1.2rem;
    color: $yellow;
    cursor: pointer;

    &.outlined {
      fill: none;
      stroke: $yellow;
    }

    &.filled {
      fill: $yellow;
      stroke: none;
    }
  }

  .event-card__participants {
    white-space: nowrap;
    color: #fcfcfc;
    position: absolute;
    font-weight: 600;
    z-index: 2;
    bottom: 5%;
    right: 5%;
  }
}

.event-card__redirection {
  text-decoration: none;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.event-card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.6rem;
  gap: 0.5rem;
}

.event-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-card__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  color: $white;
}

.event-card__description {
  font-size: 0.95rem;
  color: $light-grey;
}

.event-card__footer {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.event-card__tags {
  list-style: none;
  display: flex;
  gap: 0.4rem;
  padding: 0;
  margin: 0;
}

.event-card__tag {
  background-color: #f2f2f2;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-size: 0.8rem;
}
