@use "../../styles/variables.scss" as *;

.p-event-detail-page {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-md);
  @media (min-width: 661px) {
    margin: 0rem var(--spacing-lg);
  }
}
